<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  (click)="goToAddCar(car)"
  data-target="#exampleModalCenter"
>
  Rent
</button>
<span style="margin: 0 10px;"></span> <!-- Boş bir span ekleyin -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  (click)="deleteCar(car)"
  data-target="#exampleModalCenter"
>
  Delete
</button>
<span style="margin: 0 10px;"></span> <!-- Boş bir span ekleyin -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  (click)="updateCar(car)"
  data-target="#exampleModalCenter"
>
  Update
</button>
