<button

  type="button"
  class="btn btn-primary mt-4"
  data-toggle="modal"
  (click)="goToAddCar(car)"
  data-target="#exampleModalCenter"
>
  Add
</button>
<span style="margin: 0 10px;"></span> 
<button
  type="button"
  class="btn btn-primary mt-4"
  data-toggle="modal"
  (click)="deleteCar(car)"
  data-target="#exampleModalCenter"
>
  Delete
</button>
<span style="margin: 0 10px;"></span> 
<button
  type="button"
  class="btn btn-primary mt-4"
  data-toggle="modal"
  (click)="updateCar(car)"
  data-target="#exampleModalCenter"
>
  Update
</button>
