<div>
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    (click)="addCar(car)"
    data-target="#exampleModalCenter"
  >
    Car Add
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    (click)="deleteCar(car)"
    data-target="#exampleModalCenter"
  >
    Car Delete
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    (click)="updateCar(car)"
    data-target="#exampleModalCenter"
  >
    Car Update
  </button>
</div>
<div>
  <hr class="mt-4" />
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="addBrand(brand)"
    data-target="#exampleModalCenter"
  >
    Brand Add
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="deleteBrand(brand)"
    data-target="#exampleModalCenter"
  >
    Brand Delete
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="updateBrand(brand)"
    data-target="#exampleModalCenter"
  >
    Brand Update
  </button>
</div>
<hr class="mt-4" />
<div>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="addModel(model)"
    data-target="#exampleModalCenter"
  >
    Model Add
  </button>
</div>
<hr class="mt-4" />
<div>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="addMaintenance(maintenance)"
    data-target="#exampleModalCenter"
  >
    Add Maintenance
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="deleteMaintenance(maintenance)"
    data-target="#exampleModalCenter"
  >
    Maintenance Delete
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="updateMaintenance(maintenance)"
    data-target="#exampleModalCenter"
  >
    Maintenance Update
  </button>
</div>
<hr class="mt-4" />
<h4>Add Procedure => Brand -> Model -> Car</h4>
<hr class="mt-4" />
<h4>State Procedure => 1-Avaible 2-Rented 3-Under Maintenance</h4>
