<div class="modal-header">
  <h4 class="modal-title">{{ car.modelName }}</h4>
  <div class="close-icon" (click)="modal.close()">
    <i class="fa fa-times"></i>
  </div>
</div>
<div class="modal-body">
  <img class="card-img-top" [src]="car.carImg" alt="Car Image" />
  <p class="card-text">
    <strong>Plate:</strong> {{ car.plate }} <br />
    <strong>Daily Price:</strong> {{ car.dailyPrice }} <br />
    <strong>Model Year:</strong> {{ car.modelYear }} <br />
  </p>
  <div class="form-group">
    <div class="input-group">
      <label for="rentalDays" class="input-group-text">Rental Days:</label>
      <input type="number" id="rentalDays" class="form-control" min="1" />
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Rent Now</button>
</div>
