<div class="modal-header">
  <h4 class="modal-title">Maintenance Update</h4>
  <div class="close-icon" (click)="modal.close()">
    <i class="fa fa-times"></i>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="maintenanceUpdate">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="id"
            formControlName="id"
            placeholder=""
          />
          <label for="plate">Id</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="carId"
            formControlName="carId"
            placeholder=""
          />
          <label for="carId">Car Id</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          id="returnDate"
          formControlName="returnDate"
          placeholder=""
        />
        <label for="returnDate">Return Date</label>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.close()">
    Close
  </button>
  <button type="button" (click)="update()" class="btn btn-primary">
    Update
  </button>
</div>
