<div class="mt-2 mb-2">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Aradığınız Brand'i giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-primary">
  {{ filterText }}
</div>



<table class="table mt-4">
  <thead>
    <tr>
      <th>Plate</th>
      <th>Brand Name</th>
      <th>Daily Price</th>
      <th>State</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | filter : filterText" >
      <td>{{ car.plate }}</td>
      <td>{{ car.model.name }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.state }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          (click)="updateCar(car)"
          data-target="#exampleModalCenter"
        >
          Car Update
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          (click)="deleteCar(car)"
          data-target="#exampleModalCenter"
        >
          Car Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
