<!-- <div>
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    (click)="addCar(car)"
    data-target="#exampleModalCenter"
  >
    Car Add
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    (click)="deleteCar(car)"
    data-target="#exampleModalCenter"
  >
    Car Delete
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    (click)="updateCar(car)"
    data-target="#exampleModalCenter"
  >
    Car Update
  </button>
</div>
<div>
  <hr class="mt-4" />
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="addBrand(brand)"
    data-target="#exampleModalCenter"
  >
    Brand Add
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="deleteBrand(brand)"
    data-target="#exampleModalCenter"
  >
    Brand Delete
  </button>
  <span style="margin: 0 10px"></span>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="updateBrand(brand)"
    data-target="#exampleModalCenter"
  >
    Brand Update
  </button>
</div>
<hr class="mt-4" />
<div>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-toggle="modal"
    (click)="addModel(model)"
    data-target="#exampleModalCenter"
  >
    Model Add
  </button>
</div>

<hr class="mt-4" />
<h4>Add Procedure => Brand -> Model -> Car</h4> -->

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>