.card-img-top {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

.card-info {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.0s ease, opacity 0.8s ease;
}

.card:hover .card-info {
  max-height: 200px;
  opacity: 1;
}

