<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Car</h5>
        <div class="card-body">
          <form [formGroup]="carAdd">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="plate"
                formControlName="plate"
                placeholder=""
              />
              <label for="plate">Plate</label>
            </div>
            <div class="form-floating mb-3">
              <input
                min="1"
                type="number"
                class="form-control"
                id="dailyPrice"
                formControlName="dailyPrice"
                placeholder=""
              />
              <label for="dailyPrice">Daily Price</label>
            </div>

            <div class="form-floating mb-3">
              <input
                min="1"
                type="number"
                class="form-control"
                id="modelYear"
                formControlName="modelYear"
                placeholder=""
              />
              <label for="modelYear">Model Year</label>
            </div>

            <div class="form-floating mb-3">
              <input
                min="1"
                type="number"
                class="form-control"
                id="state"
                formControlName="state"
                placeholder=""
              />
              <label for="state">State</label>
            </div>

            <div class="form-floating mb-3">
              <input
                min="1"
                type="number"
                class="form-control"
                id="modelId"
                formControlName="modelId"
                placeholder=""
              />
              <label for="modelId">model Id</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="carImg"
                formControlName="carImg"
                placeholder=""
              />
              <label for="carImg">Car Img</label>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
